<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Study Basin">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/static/images/favicon.jpg">
    <link rel="apple-touch-icon" href="/static/images/favicon.jpg">

    <title>Study Basin</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <!--[if lt IE 9]>
    <script src="/static/bootstrap/js/html5shiv.min.js"></script>
    <script src="/static/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <style>
    .ct-navbar--fluid {
        min-width: auto;
    }
    </style>

    <script src="/static/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate ct-headroom--scrollUpMenu">
<div class="ct-preloader">
    <div class="ct-preloader-content"></div>
</div>
<nav class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li class="dropdown"><a href="/home">Home</a></li>
        <li class="dropdown"><a href="/home#abtus">About</a></li>  
        <li class="dropdown"><a href="/home#why">Why join?</a></li>
        <li class="dropdown"><a href="#">Courses</a>
            <ul class="dropdown-menu">
                <li><a href="/course-single">IPM</a></li>
                <li><a href="/course-single">Hotel Management</a></li>
                <li><a href="/course-single">BBA</a></li>
                <li><a href="/course-single">Law</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="/mock">Mock Series</a></li>
        <li class="dropdown"><a href="/gkdose">GK dose</a></li>
        <li class="dropdown"><a href="/blog">Blog</a></li>
        <li class="dropdown"><a href="/contact">Contact Us</a></li>
        <li class="dropdown"><a href="/news">News</a></li>
    </ul>
</nav>
<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile">
    <a class="navbar-brand" href="home"><img src="/static/images/logo.jpg" alt="logo"></img></a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-topBar text-center">
    <div class="container">
        <div class="navbar-header pull-left">
            <a href="/home"><img src="/static/images/logo.jpg" alt="logo"></img></a>
        </div>
        <ul class="ct-panel--user list-inline text-uppercase pull-right">
            <li><a href="/login" class="ct-js-login">login<i class="fa fa-lock"></i></a></li>
            <li><a href="#" class="ct-js-signup">sign up<i class="fa fa-user"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<nav class="navbar navbar-default yamm " data-heighttopbar="60px" data-startnavbar="0">
    <div class="container">
        <div class="ct-navbar--fluid pull-right">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="dropdown yamm-fw active"><a href="/home">Home</a></li>  
                <li class="dropdown yamm-fw"><a href="/home#abtus">About</a></li>  
                <li class="dropdown yamm-fw"><a href="/home#why">Why join?</a></li>
                <li class="dropdown yamm-fw"><a href="/courses-listing">Courses</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="/courses-single">IPM</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="/course-single">Hotel Management</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="/course-single">Law</a>
                                    </div>
                                    <div class="col-sm-3">    
                                        <a href="/course-single">BBA</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw"><a href="/mock">Mock Series</a></li>
                <li class="dropdown yamm-fw"><a href="/gkdose">GK dose</a></li>
                <li class="dropdown yamm-fw"><a href="/blog">Blog</a></li>
                <li class="dropdown yamm-fw"><a href="/contact">Contact</a></li>
                <li class="dropdown yamm-fw"><a href="/news">News</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="ct-modal ct-js-modal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-uppercase">Signup</h3>
            </div>
            <div class="modal-body">
                {% load widget_tweaks %}
                <form class="ct-u-paddingBottom100" method="post" action=".">
                    <div class="form-group ct-u-marginBottom50">
                    	{% csrf_token %}
				        
                       <div class="row">
                            <div class="col-md-6">
                                {{ form.username|add_class:"form-control ct-input--type1 input-hg ct-u-marginBottom20"|attr:"placeholder : Username" }}                                
                            </div>
                            <div class="col-md-6">
                                {{ form.email|add_class:"form-control ct-input--type1 input-hg ct-u-marginBottom20"|attr:"placeholder : Email" }}  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.password1|add_class:"form-control ct-input--type1 input-hg ct-u-marginBottom20"|attr:"placeholder : Password" }}  
                            </div>
                            <div class="col-md-6">
                                {{ form.password2|add_class:"form-control ct-input--type1 input-hg ct-u-marginBottom20"|attr:"placeholder : Re-Enter Password" }}  
                            </div>
                        </div>
                        <!--<div class="ct-checbox--custom">
                            <input id="signup" type="checkbox" name="signup" value="signup">
                            <label for="signup">I agree with <a href="#" class="ct-u-textUnderline">The terms of use</a> </label>
                        </div>-->
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-lg text-uppercase" value="Sign Up"/>
                         <div class="ct-u-marginTop50">
                            <!--<a href="#"><i class="fa fa-info-circle"></i> Forgot Password ?</a>-->
                            <a href="/accounts/login"><i class="fa fa-long-arrow-right"></i> Sign In</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="ct-prefooter">
        <div class="widget widget-socialsFullWidth">
            <div class="widget-inner">
                <div class="container">
                    <div class="ct-slick ct-js-slick text-center" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="false" data-autoplaySpeed="6000" data-draggable="true" data-touchMove="false" data-arrows="false" data-XSitems="1" data-SMitems="2" data-MDitems="4" data-LGitems="4" data-items="1">
                        <div class="item">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="item">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="item">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="item">
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ct-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled list-inline ct-copyright">
                        <li>Copyright 2015</li>
                        <li>Created by </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled list-inline ct-footer-menu">
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/home#abtus">About</a></li>
                        <li><a href="/home#why">Why Join?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<!-- JavaScripts -->

<script src="/static/js/main-compiled.js"></script>
</body>
</html>
