{% load i18n %}
<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<meta charset="utf-8">

<!-- styles -->
<link rel="shortcut icon" href="/static/images/favicon.jpg">
<link rel="apple-touch-icon" href="/static/images/favicon.jpg">

<title>StudyBasin | Admin Panel</title>

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script src="/static/js/modernizr.custom.js"></script>

<!--[if lt IE 9]>
<script src="/static/bootstrap/js/html5shiv.min.js"></script>
<script src="/static/bootstrap/js/respond.min.js"></script>
<![endif]-->
<style>
.ct-navbar--fluid {
    min-width: auto;
}
</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<nav class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li class="dropdown"><a href="/home">Home</a></li>
        <li class="dropdown"><a href="/mock">Mock Series</a></li>
        <li class="dropdown"><a href="/gkdose">GK dose</a></li>
        <li class="dropdown"><a href="/blog">Blog</a></li>
        <li class="dropdown"><a href="/news">News</a></li>
    </ul>
</nav>
<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile">
    <a class="navbar-brand" href="home"><img src="/static/images/logo.jpg" alt="logo"></img></a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-topBar text-center">
    <div class="container">
        <div class="navbar-header pull-left">
            <a href="/home"><img src="/static/images/logo.jpg" alt="logo"></img></a>
        </div>
        <ul class="ct-panel--user list-inline text-uppercase pull-right">
            <li style="width:170px;">Welcome, {{ user.username }}</li>
            <li><a href="/logout/" >Logout<i class="fa fa-user"></i></a></li>

</ul>
    <div class="clearfix"></div>
    </div>
</div>
<nav class="navbar navbar-default yamm " data-heighttopbar="60px" data-startnavbar="0">
    <div class="container">
        <div class="ct-navbar--fluid pull-right">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="dropdown yamm-fw active"><a href="#">Home</a></li>
                <li class="dropdown yamm-fw"><a href="/mock">Mock Series</a></li>
                <li class="dropdown yamm-fw"><a href="/gkdose">GK dose</a></li>
                <li class="dropdown yamm-fw"><a href="/blog">Blog</a></li>
                <li class="dropdown yamm-fw"><a href="/news">News</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Before the quiz content -->
{% if messages %}
<ul class="messages">
    {% for msg in messages %}
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
    {{msg.message}}
    </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
<div class="ct-modal ct-js-modal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-uppercase">Create Question</h3>
            </div>
            <div class="modal-body">
                <form class="ct-u-paddingBottom100" method="post" action=".">
                    <div class="form-group ct-u-marginBottom50">
                    	{% csrf_token %}
				        <table border="0">
				            {{ form.as_table }}
				        </table>

                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-lg text-uppercase" value="Submit"/>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- After the quiz content -->


</body>
</html>
