<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Study Basin">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/static/images/demo-content/favicon.png">
    <link rel="apple-touch-icon" href="/static/images/demo-content/favicon.png">

    <title>Study Basin - Contact</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <!--[if lt IE 9]>
    <script src="/static/bootstrap/js/html5shiv.min.js"></script>
    <script src="/static/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .ct-navbar--fluid {
            min-width: auto;
        }
        .navbar-header {
            padding: 2%;
        }
    </style>
    <script src="/static/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate ct-headroom--scrollUpMenu"><div class="ct-preloader"><div class="ct-preloader-content"></div></div>
<nav class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li class="dropdown"><a href="/home">Home</a></li>
        <li class="dropdown"><a href="#">Courses</a>
            <ul class="dropdown-menu">
                <li><a href="/course-single">IPM</a></li>
                <li><a href="/course-single">Hotel Management</a></li>
                <li><a href="/course-single">BBA</a></li>
                <li><a href="/course-single">Law</a></li>
            </ul>
        </li>
        <li class="dropdown active"><a href="#">Contact Us</a></li>
        <li class="dropdown"><a href="/home/#why">Why join?</a></li>
        <li class="dropdown"><a href="/gkdose">GK dose</a></li>
        <li class="dropdown"><a href="/mock">Mock Series</a></li>
        <li class="dropdown"><a href="/uc">News</a></li>
        <li class="dropdown"><a href="/uc">Blog</a></li>
        <li class="dropdown"><a href="/home/#abtus">About</a></li>                
    </ul>
</nav>
<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile">
    <a class="navbar-brand" href="/home"><h3>Study Basin</h3></a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-topBar text-center">
    <div class="container">
        <ul class="ct-panel--user list-inline text-uppercase pull-right">
            <li><a href="#" class="ct-js-login">login<i class="fa fa-lock"></i></a></li>
            <li><a href="#" class="ct-js-signup">sign up<i class="fa fa-user"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<nav class="navbar navbar-default navbar-parts  yamm " data-heighttopbar="60px" data-startnavbar="0">
    <!-- <div class="navbar-headerTop">
        <div class="container">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bars"></i> Browse Courses
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">IPM</a></li>
                    <li><a href="#">Law</a></li>
                    <li><a href="#">Hotel Management</a></li>
                    <li><a href="#">BBA</a></li>
                </ul>
            </div>
            <div class="navbar-header">
                <a href="/home"><h3>Study Basin</h3></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div> -->
    <div class="container">
        <div class="navbar-header">
            <a href="home"><h3>Study Basin</h3></a>
        </div>
        <div class="ct-navbar--fluid pull-right">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="dropdown yamm-fw"><a href="/home">Home</a></li>
                <li class="dropdown yamm-fw"><a href="/home/#why">Why join?</a></li>
                <li class="dropdown yamm-fw"><a href="/gkdose">GK dose</a></li>
                <li class="dropdown yamm-fw"><a href="/mock">Mock Series</a></li>
                <li class="dropdown yamm-fw"><a href="/uc">News</a></li>
                <li class="dropdown yamm-fw"><a href="/uc">Blog</a></li>
                <li class="dropdown yamm-fw"><a href="/home/#abtus">About</a></li>                
                <li class="dropdown yamm-fw"><a href="/courses-listing">Courses</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="/courses-listing">IPM</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="/course-single">Hotel Management</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="/course-single">Law</a>
                                    </div>
                                    <div class="col-sm-3">    
                                        <a href="/course-single">BBA</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown active"><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal ct-js-searchModal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Search Results</h3>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal ct-modal ct-js-modal-login fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                <h3 class="modal-title text-uppercase">Login</h3>
            </div>
            <div class="modal-body">
                <form class="ct-u-paddingBottom100">
                    <div class="form-group ct-u-marginBottom50">
                        <input placeholder="E-mail" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Login">
                        <input placeholder="Password" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Password">
                        <div class="ct-checbox--custom">
                            <input id="remember" type="checkbox" name="remember" value="remember">
                            <label for="remember">remember me</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase"><span>Sign In</span></button>
                        <div class="ct-u-marginTop50">
                            <a href="#"><i class="fa fa-info-circle"></i> Forgot Password ?</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> Register Now ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal ct-modal ct-js-modal-signup fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                <h3 class="modal-title text-uppercase">Signup</h3>
            </div>
            <div class="modal-body">
                <form class="ct-u-paddingBottom100">
                    <div class="form-group ct-u-marginBottom50">
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="Name" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Name">   
                            </div>
                            <div class="col-md-6">
                                <input placeholder="Email" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="Password" type="password" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Password">
                            </div>
                            <div class="col-md-6">
                                <input placeholder="Repeat Password" type="password" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Repeat">
                            </div>
                        </div>


                        <div class="ct-checbox--custom">
                            <input id="signup" type="checkbox" name="signup" value="signup">
                            <label for="signup">I agree with <a href="#" class="ct-u-textUnderline">The terms of use</a> </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase"><span>Sign Up</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ct-site--map ct-u-backgroundGradient">
    <div class="container">
        <div class="ct-u-displayTableVertical text-capitalize">
            <div class="ct-u-displayTableCell">
                <span class="ct-u-textBig">
                    Contact Us
                </span>
            </div>
            <div class="ct-u-displayTableCell text-right">
                <span class="ct-u-textNormal ct-u-textItalic">
                    <a href="/home">Home</a> / <a href="#">Contact Us</a>
                </span>
            </div>
        </div>
    </div>
</div>
<section class="ct-u-backgroundLightGreen">
    <div class="ct-googleMap ct-js-googleMap"></div>
    <div class="ct-u-paddingBoth100">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="text-uppercase ct-fw-700 ct-u-marginBottom100 ct-u-textNormal">Leave a reply</h4>
                    <div class="successMessage alert alert-success ct-u-marginTop20" style="display:none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Message Sent.
                    </div>
                    <div class="errorMessage alert alert-danger ct-u-marginTop20" style="display:none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        An error occured. Please try again later.
                    </div>
                    <form action="http://uacademy.html.themeforest.createit.pl//static/form/send.php" method="POST" class="validateIt">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ct-u-marginBottom30">
                                    <input id="contact_name" data-error-message="Name" placeholder="Name" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg" title="Name">
                                    <label for="contact_name" class="sr-only"></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ct-u-marginBottom30">
                                    <input id="contact_email" data-error-message="Email" placeholder="Email" required="" name="field[]" type="email" class="form-control ct-input--type1 input-hg h5-email" title="Email">
                                    <label for="contact_email" class="sr-only"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group  ct-u-marginBottom30">
                            <input id="contact_phone" placeholder="Website" name="field[]" type="tel" class="form-control h5-phone ct-input--type1 input-hg" title="Phone">
                            <label for="contact_phone" class="sr-only"></label>
                        </div>
                        <div class="form-group  ct-u-marginBottom30">
                            <textarea id="contact_message" data-error-message="Message is required" placeholder="Your Message" class="form-control ct-input--type1" rows="6" name="field[]" required="" title="Message"></textarea>
                            <label for="contact_message" class="sr-only"></label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg pull-right"><span>Send Message</span></button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="ct-addressInformation">
                        <h4 class="text-uppercase ct-fw-700 ct-u-marginBottom20 ct-u-textNormal">Postal Address :</h4>
                        <p class="ct-u-marginBottom20">PO Box 16122 Collins Street West
                            Victoria 8007 Australia
                        </p>
                        <h4 class="text-uppercase ct-fw-700 ct-u-marginBottom20 ct-u-textNormal">Headquarters :</h4>
                        <p class="ct-u-marginBottom20">121 King Street, Melbourne
                            Victoria 3000 Australia
                        </p>
                        <h4 class="text-uppercase ct-fw-700 ct-u-marginBottom20 ct-u-textNormal">Phone :</h4>
                        <span>Phone Number: (123) 456 7890</span>
                        <span class="ct-u-marginBottom20">Fax Number: (123) 456 7890</span>
                        <h4 class="text-uppercase ct-fw-700 ct-u-marginBottom20 ct-u-textNormal">Email :</h4>
                        <span>Support: <a href="#">Support@example.com </a></span>
                        <span>Support: <a href="#">Sales@example.com </a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="ct-prefooter">
        <div class="widget widget-socialsFullWidth">
            <div class="widget-inner">
                <div class="container">
                    <div class="ct-slick ct-js-slick text-center" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="false" data-autoplaySpeed="6000" data-draggable="true" data-touchMove="false" data-arrows="false" data-XSitems="1" data-SMitems="2" data-MDitems="4" data-LGitems="4" data-items="1">
                        <div class="item">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="item">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="item">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="item">
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ct-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled list-inline ct-copyright">
                        <li>Copyright 2015</li>
                        <li>Created by </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<!-- JavaScripts -->
<script id="googleMap" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry"></script>
<script src="/static/js/main-compiled.js"></script>
<script src="/static/js/jQueryShopLocator/src/shop-locator.js"></script>
<script src="/static/js/jQueryShopLocator/init.js"></script>


<!-- switcher 
<script src="demo/js/demo.js"></script>
<script type="text/javascript">
    $('head').append('<link rel="stylesheet" type="text/css" href="demo/css/demo.css">');
    $('head').append('<link rel="stylesheet" type="text/css" href="demo/generator.css">');
</script>-->
</body>
</html>
