<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Study Basin">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/static/images/demo-content/favicon.png">
    <link rel="apple-touch-icon" href="/static/images/demo-content/favicon.png">

    <title>Study Basin</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <!--[if lt IE 9]>
    <script src="/static/bootstrap/js/html5shiv.min.js"></script>
    <script src="/static/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <style>
    .ct-navbar--fluid {
        min-width: auto;
    }

    .navbar-header {
        margin: 2%;
    }
    </style>

    <script src="/static/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate ct-headroom--scrollUpMenu"><div class="ct-preloader"><div class="ct-preloader-content"></div></div>
<nav class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li class="dropdown active"><a href="/home">Home</a></li>
        <li class="dropdown"><a href="#">Courses</a>
            <ul class="dropdown-menu">
                <li><a href="/course-single">IPM</a></li>
                <li><a href="/course-single">Hotel Management</a></li>
                <li><a href="/course-single">BBA</a></li>
                <li><a href="/course-single">Law</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="/contact">Contact Us</a></li>
        <li class="dropdown"><a href="#why">Why join?</a></li>
        <li class="dropdown"><a href="/gkdose">GK dose</a></li>
        <li class="dropdown"><a href="/mock">Mock Series</a></li>
        <li class="dropdown"><a href="/uc">News</a></li>
        <li class="dropdown"><a href="/uc">Blog</a></li>
        <li class="dropdown"><a href="#abtus">About</a></li>                
    </ul>
</nav>
<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile">
    <a class="navbar-brand" href="home"><h3>Study Basin</h3></a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-topBar text-center">
    <div class="container">
        <ul class="ct-panel--user list-inline text-uppercase pull-left">
            <li><a href="#" class="ct-js-login">login<i class="fa fa-lock"></i></a></li>
            <li><a href="#" class="ct-js-signup">sign up<i class="fa fa-user"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<nav class="navbar navbar-default yamm " data-heighttopbar="60px" data-startnavbar="0">
    <div class="container">
        <div class="navbar-header">
            <a href="home"><h3>Study Basin</h3></a>
        </div>
        <div class="ct-navbar--fluid pull-right">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="dropdown yamm-fw active"><a href="#">Home</a></li>
                <li class="dropdown yamm-fw"><a href="#why">Why join?</a></li>
                <li class="dropdown yamm-fw"><a href="/gkdose">GK dose</a></li>
                <li class="dropdown yamm-fw"><a href="/mock">Mock Series</a></li>
                <li class="dropdown yamm-fw"><a href="/uc">News</a></li>
                <li class="dropdown yamm-fw"><a href="/uc">Blog</a></li>
                <li class="dropdown yamm-fw"><a href="#abtus">About</a></li>   
                <li class="dropdown yamm-fw"><a href="/courses-listing">Courses</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="/courses-listing">IPM</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="/course-single">Hotel Management</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="/course-single">Law</a>
                                    </div>
                                    <div class="col-sm-3">    
                                        <a href="/course-single">BBA</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal ct-modal ct-js-modal-login fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                <h3 class="modal-title text-uppercase">Login</h3>
            </div>
            <div class="modal-body">
                <form class="ct-u-paddingBottom100">
                    <div class="form-group ct-u-marginBottom50">
                        <input placeholder="E-mail" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Login">
                        <input placeholder="Password" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Password">
                        <div class="ct-checbox--custom">
                            <input id="remember" type="checkbox" name="remember" value="remember">
                            <label for="remember">remember me</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase"><span>Sign In</span></button>
                        <div class="ct-u-marginTop50">
                            <a href="#"><i class="fa fa-info-circle"></i> Forgot Password ?</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i> Register Now ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal ct-modal ct-js-modal-signup fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                <h3 class="modal-title text-uppercase">Signup</h3>
            </div>
            <div class="modal-body">
                <form class="ct-u-paddingBottom100">
                    <div class="form-group ct-u-marginBottom50">
                       <div class="row">
                            <div class="col-md-6">
                                <input placeholder="Name" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Name">   
                            </div>
                            <div class="col-md-6">
                                <input placeholder="Email" type="text" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="Password" type="password" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Password">
                            </div>
                            <div class="col-md-6">
                                <input placeholder="Repeat Password" type="password" required="" name="field[]" class="form-control ct-input--type1 input-hg ct-u-marginBottom50" title="Repeat">
                            </div>
                        </div>


                        <div class="ct-checbox--custom">
                            <input id="signup" type="checkbox" name="signup" value="signup">
                            <label for="signup">I agree with <a href="#" class="ct-u-textUnderline">The terms of use</a> </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase"><span>Sign Up</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<header>
    <div class="ct-slick ct-js-slick ct-slick-defaultNavigation ct-u-colorWhite" data-height="800" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="false" data-touchMove="false" data-arrows="true" data-items="1">
        <div class="item" data-bg="/static/images/demo-content/header10.jpg">
            <div class="ct-slick-inner">
                <div class="ct-slick-content">
                    <div class="ct-showcaseBox--withImagePerson">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="text-capitalize ct-fw-900 ct-u-marginBottom40 ct-darkBackground animated" data-fx="fadeInLeft" data-time="200">Created For Education Business</h3>
                                    <p class="ct-u-marginBottom40 ct-fw-600 animated" data-fx="fadeInLeft" data-time="800">The European languages are members of the same family. Their separ
                                        vocabulary. The languages only differ in their grammar, their
                                        on and more common words. If several languages </p>
                                    <a class="text-uppercase btn btn-success btn-lg animated" href="/courses-listing" data-fx="fadeInLeft" data-time="1400">view courses</a>
                                </div>
                                <img class="ct-js-imageOffset animated" src="/static/images/demo-content/opened-book.png" data-fx="zoomInUp" data-time="1400" data-bottom="0" data-right="0" alt="person">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" data-bg="/static/images/demo-content/header10.jpg">
            <div class="ct-slick-inner">
                <div class="ct-slick-content">
                    <div class="ct-showcaseBox--withImagePerson">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="text-capitalize ct-fw-900 ct-u-marginBottom40 animated" data-fx="zoomInUp" data-time="200">Created For Education Business</h3>
                                    <p class="ct-u-marginBottom40 ct-fw-600 animated" data-fx="zoomInUp" data-time="600">The European languages are members of the same family. Their separ
                                        vocabulary. The languages only differ in their grammar, their pronunci
                                        on and more common words. If several languages coalesce,
                                        vidual languages.</p>
                                    <a class="text-uppercase btn btn-transparent btn-bordered--Light btn-lg animated" href="/courses-listing" data-fx="zoomInUp" data-time="1000">view courses</a>
                                </div>
                                <img class="ct-js-imageOffset animated" src="/static/images/demo-content/header10-person.png" data-fx="fadeInRight" data-time="1400" data-bottom="-263" data-right="0" alt="person">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="ct-u-paddingBoth100 ct-u-backgroundLightGreen">
<div class="container">
<div class="ct-slick ct-js-slick" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="false" data-touchMove="false" data-arrows="true" data-items="1">
<div class="item">
<h2 class="ct-fw-700">Popular Courses</h2>
<div class="ct-divider ct-u-marginBoth30"></div>
<p class="ct-u-marginBottom90">
    consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etma
    enim. Donec pede justo  .

</p>
<div class="row">
<div class="col-sm-6 col-md-3">
    <div class="ct-productBox ct-u-marginBottom30">
        <a href="/course-single">
            <div class="ct-productImage">
                <img src="/static/images/demo-content/productBox-1.jpg" alt="Product">
            </div>
            <div class="ct-productDescription">
                <h5 class="ct-fw-600 ct-u-marginBottom10">IPM</h5>
                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
            </div>
        </a>
        <div class="ct-productMeta">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="starrr" data-rating='4'></div>
                </div>
                <div class="ct-u-displayTableCell">
                    <span class="ct-u-colorMotive">190$</span>
                    <span class="ct-u-textLineThrough">290$</span>
                </div>
                <a href="#">
                    <div class="ct-u-displayTableCell">
                        15 <i class="fa fa-user"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-3">
    <div class="ct-productBox ct-u-marginBottom30">
        <a href="/course-single">
            <div class="ct-productImage">
                <img src="/static/images/demo-content/productBox-2.jpg" alt="Product">
            </div>
            <div class="ct-productDescription">
                <h5 class="ct-fw-600 ct-u-marginBottom10">Hotel Management</h5>
                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
            </div>
        </a>
        <div class="ct-productMeta">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="starrr" data-rating='4'></div>
                </div>
                <div class="ct-u-displayTableCell">
                    <span class="ct-u-colorMotive">190$</span>
                    <span class="ct-u-textLineThrough">290$</span>
                </div>
                <a href="#">
                    <div class="ct-u-displayTableCell">
                        15 <i class="fa fa-user"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix visible-sm"></div>
<div class="col-sm-6 col-md-3">
    <div class="ct-productBox ct-u-marginBottom30">
        <a href="/course-single">
            <div class="ct-productImage">
                <img src="/static/images/demo-content/productBox-3.jpg" alt="Product">
            </div>
            <div class="ct-productDescription">
                <h5 class="ct-fw-600 ct-u-marginBottom10">Law</h5>
                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
            </div>
        </a>
        <div class="ct-productMeta">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="starrr" data-rating='4'></div>
                </div>
                <div class="ct-u-displayTableCell">
                    <span class="ct-u-colorMotive">190$</span>
                    <span class="ct-u-textLineThrough">290$</span>
                </div>
                <a href="#">
                    <div class="ct-u-displayTableCell">
                        15 <i class="fa fa-user"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-3">
    <div class="ct-productBox ct-u-marginBottom30">
        <a href="/course-single">
            <div class="ct-productImage">
                <img src="/static/images/demo-content/productBox-4.jpg" alt="Product">
            </div>
            <div class="ct-productDescription">
                <h5 class="ct-fw-600 ct-u-marginBottom10">BBA</h5>
                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
            </div>
        </a>
        <div class="ct-productMeta">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="starrr" data-rating='4'></div>
                </div>
                <div class="ct-u-displayTableCell">
                    <span class="ct-u-colorMotive">190$</span>
                    <span class="ct-u-textLineThrough">290$</span>
                </div>
                <a href="#">
                    <div class="ct-u-displayTableCell">
                        15 <i class="fa fa-user"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix visible-sm"></div>
</div>
</div>
<div class="item">
    <h2 class="ct-fw-700">Top Rated Courses</h2>
    <div class="ct-divider ct-u-marginBoth30"></div>
    <p class="ct-u-marginBottom90">
        consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etma
        enim. Donec pede justo  .

    </p>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="ct-productBox ct-u-marginBottom30">
                <a href="/course-single">
                    <div class="ct-productImage">
                        <img src="/static/images/demo-content/productBox-1.jpg" alt="Product">
                    </div>
                    <div class="ct-productDescription">
                        <h5 class="ct-fw-600 ct-u-marginBottom10">IPM</h5>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                    </div>
                </a>
                <div class="ct-productMeta">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="starrr" data-rating='4'></div>
                        </div>
                        <div class="ct-u-displayTableCell">
                            <span class="ct-u-colorMotive">190$</span>
                            <span class="ct-u-textLineThrough">290$</span>
                        </div>
                        <a href="#">
                            <div class="ct-u-displayTableCell">
                                15 <i class="fa fa-user"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="ct-productBox ct-u-marginBottom30">
                <a href="/course-single">
                    <div class="ct-productImage">
                        <img src="/static/images/demo-content/productBox-2.jpg" alt="Product">
                    </div>
                    <div class="ct-productDescription">
                        <h5 class="ct-fw-600 ct-u-marginBottom10">Hotel Management</h5>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                    </div>
                </a>
                <div class="ct-productMeta">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="starrr" data-rating='4'></div>
                        </div>
                        <div class="ct-u-displayTableCell">
                            <span class="ct-u-colorMotive">190$</span>
                            <span class="ct-u-textLineThrough">290$</span>
                        </div>
                        <a href="#">
                            <div class="ct-u-displayTableCell">
                                15 <i class="fa fa-user"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm"></div>
        <div class="col-sm-6 col-md-3">
            <div class="ct-productBox ct-u-marginBottom30">
                <a href="/course-single">
                    <div class="ct-productImage">
                        <img src="/static/images/demo-content/productBox-3.jpg" alt="Product">
                    </div>
                    <div class="ct-productDescription">
                        <h5 class="ct-fw-600 ct-u-marginBottom10">Law</h5>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                    </div>
                </a>
                <div class="ct-productMeta">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="starrr" data-rating='4'></div>
                        </div>
                        <div class="ct-u-displayTableCell">
                            <span class="ct-u-colorMotive">190$</span>
                            <span class="ct-u-textLineThrough">290$</span>
                        </div>
                        <a href="#">
                            <div class="ct-u-displayTableCell">
                                15 <i class="fa fa-user"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="ct-productBox ct-u-marginBottom30">
                <a href="/course-single">
                    <div class="ct-productImage">
                        <img src="/static/images/demo-content/productBox-4.jpg" alt="Product">
                    </div>
                    <div class="ct-productDescription">
                        <h5 class="ct-fw-600 ct-u-marginBottom10">BBA</h5>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                    </div>
                </a>
                <div class="ct-productMeta">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="starrr" data-rating='4'></div>
                        </div>
                        <div class="ct-u-displayTableCell">
                            <span class="ct-u-colorMotive">190$</span>
                            <span class="ct-u-textLineThrough">290$</span>
                        </div>
                        <a href="#">
                            <div class="ct-u-displayTableCell">
                                15 <i class="fa fa-user"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm"></div>
    </div>
</div>
</div>
</div>
</section>
<section class="ct-u-paddingBoth100 text-center ct-u-doubleBorder" id="abtus">
    <div class="container">
        <h2 class="ct-fw-700 ct-u-marginBottom30">About us</h2>
        <p class="ct-fw-600 ct-u-marginBottom100">Our mission is to usher a new way of education. Anyone can easily learn anything, anywhere they want. We at studyBasin strive towards that goal.
        </p>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="ct-iconBox ct-iconBox--Big ct-iconBox--transparent">
                    <div class="ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">
                        <div class="ct-icon">
                            <i class="fa fa-magic"></i>
                        </div>
                    </div>
                    <div class="ct-icon--description">
                        <h4 class="ct-u-colorMotive ct-fw-600 ct-u-marginBottom30">Research</h4>
                        <p class="ct-fw-400 ct-u-relative" data-bottom="top: 50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-150-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Lorem ipsum dolor sit amet, conse
                            quam, adipiscingconmentum tristi
                            idem nemo minima .</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ct-iconBox ct-iconBox--Big ct-iconBox--transparent">
                    <div class="ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">
                        <div class="ct-icon">
                            <i class="fa fa-bolt"></i>
                        </div>
                    </div>

                    <div class="ct-icon--description">
                        <h4 class="ct-u-colorMotive ct-fw-600 ct-u-marginBottom30">Engage</h4>
                        <p class="ct-fw-400 ct-u-relative" data-bottom="top: 50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-150-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Lorem ipsum dolor sit amet, conse
                            quam, adipiscingconmentum tristi
                            idem nemo minima .</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ct-iconBox ct-iconBox--Big ct-iconBox--transparent">
                    <div class="ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">
                        <div class="ct-icon">
                            <i class="fa fa-recycle"></i>
                        </div>
                    </div>

                    <div class="ct-icon--description">
                        <h4 class="ct-u-colorMotive ct-fw-600 ct-u-marginBottom30">Commitment</h4>
                        <p class="ct-fw-400 ct-u-relative" data-bottom="top: 50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-150-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Lorem ipsum dolor sit amet, conse
                            quam, adipiscingconmentum tristi
                            idem nemo minima .</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ct-iconBox ct-iconBox--Big ct-iconBox--transparent">
                    <div class="ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">
                        <div class="ct-icon">
                            <i class="fa fa-tint"></i>
                        </div>
                    </div>

                    <div class="ct-icon--description">
                        <h4 class="ct-u-colorMotive ct-fw-600 ct-u-marginBottom30">Innovation</h4>
                        <p class="ct-fw-400 ct-u-relative" data-bottom="top: 50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-150-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Lorem ipsum dolor sit amet, conse
                            quam, adipiscingconmentum tristi
                            idem nemo minima .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ct-u-paddingBoth100 ct-u-backgroundLightGreen" id="why">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="ct-fw-900 ct-u-marginBottom30">Why Join Us</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-list-alt"></i> Fully Responsive Theme
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="fa fa-angellist"></i> Strategy Solutions
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fa fa-files-o"></i> Touchable Slider
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa fa-desktop"></i> Clean Modern Code
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h3 class="ct-fw-900 ct-u-marginBottom30">Blog</h3>
                <div class="ct-blog--thumbnail ct-hoverImage--rectangle ct-u-marginBottom60">
                    <div class="media">
                        <div class="media-left">
                            <a href="blog-single.html">
                                <img class="media-object" src="/static/images/demo-content/blog-thumbnail.jpg" alt="thumb">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Lorem ipsum dolor sit amet</h4>
                            <div class="ct-articleBox--meta ct-u-displayTableVertical">
                                <ul class="list-inline list-unstyled">
                                    <li><i class="fa fa-clock-o"></i> Apr 29, 2015</li>
                                    <li><i class="fa fa-comments-o"></i> comments</li>
                                </ul>
                            </div>
                            <p class="ct-fw-600">
                                Ut enim ad minima veniam, quis nostrum exercitatio
                                nem ullam corporis suscipit ut aliquid commodifar
                                far away, behind far from the.
                                <a class="ct-fw-400" href="blog-single.html">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ct-blog--thumbnail ct-hoverImage--rectangle">
                    <div class="media">
                        <div class="media-left">
                            <a href="blog-single.html">
                                <img class="media-object" src="/static/images/demo-content/blog-thumbnail2.jpg" alt="thumb">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">One morning, when Gregor </h4>
                            <div class="ct-articleBox--meta ct-u-displayTableVertical">
                                <ul class="list-inline list-unstyled">
                                    <li><i class="fa fa-clock-o"></i> Apr 29, 2015</li>
                                    <li><i class="fa fa-comments-o"></i> comments</li>
                                </ul>
                            </div>
                            <p class="ct-fw-600">
                                Ut enim ad minima veniam, quis nostrum exercitatio
                                nem ullam corporis suscipit ut aliquid commodifar
                                far away, behind far from the.
                                <a class="ct-fw-400" href="blog-single.html">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ct-mediaSection text-center" data-stellar-background-ratio="0.3" data-height="600" data-type="parallax" data-background="/static/images/demo-content/banner-image4.jpg" data-background-mobile="/static/images/demo-content/banner-image4.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-showcaseBox">
                <h2 class="ct-fw-700 ct-u-marginBottom60 ct-u-colorWhite ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Study Basin is where you build your future. Join Us Today.</h2>
                <a class="text-uppercase btn btn-primary btn-lg" href="/courses-listing">view courses</a>
            </div>
        </div>
    </div>
</section>
<footer>
<div class="ct-prefooter">
<div class="widget widget-socialsFullWidth">
    <div class="widget-inner">
        <div class="container">
            <div class="ct-slick ct-js-slick text-center" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="false" data-autoplaySpeed="6000" data-draggable="true" data-touchMove="false" data-arrows="false" data-XSitems="1" data-SMitems="2" data-MDitems="4" data-LGitems="4" data-items="1">
                <div class="item">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="item">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="item">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
                <div class="item">
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="ct-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled list-inline ct-copyright">
                    <li>Copyright 2015</li>
                    <li>Created by </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>
</div>

<!-- JavaScripts -->

<script src="/static/js/main-compiled.js"></script>
<script>
    $(document).ready(function() {
         $('.why').click(function() {
            //console.log(1);
            window.scrollTo(0, $('#why').offset().top);
        });

        $('.about').click(function() {
            //console.log(1);
            window.scrollTo(0, $('#abtus').offset().top);
        });
    });


</script>


<!-- switcher 
<script src="demo/js/demo.js"></script>
<script type="text/javascript">
    $('head').append('<link rel="stylesheet" type="text/css" href="demo/css/demo.css">');
    $('head').append('<link rel="stylesheet" type="text/css" href="demo/generator.css">');
</script>

<!-- end switcher -->
</body>
</html>
