<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="StudyBasin is an  online tutorial website for subjects from different branches. The students are exposed to the pattern of questions one gets and are also updated with the daily news.">
    <meta name="author" content="Saptak Sengupta, Vivek Anand, Shubham Bhendarkar">
    <meta name="keyword" content="studybasin, clat, law, bba, online tutorial, mock, gk, gkdose, blog, news, study basin, studybasin.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/static/images/favicon.jpg">
    <link rel="apple-touch-icon" href="/static/images/favicon.jpg">

    <title>Study Basin</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <!--[if lt IE 9]>
    <script src="/static/bootstrap/js/html5shiv.min.js"></script>
    <script src="/static/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <style>
    .ct-navbar--fluid {
        min-width: auto;
    }
    </style>

    <script src="/static/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate ct-headroom--scrollUpMenu">
<div class="ct-preloader">
    <div class="ct-preloader-content"></div>
</div>
<nav class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li class="dropdown active"><a href="#">Home</a></li>
        <li class="dropdown"><a href="#abtus">About</a></li>  
        <li class="dropdown"><a href="#why">Why join?</a></li>
        <li class="dropdown"><a href="#">Courses</a>
            <ul class="dropdown-menu">
                <li><a href="/course-single">IPM</a></li>
                <li><a href="/course-single">Hotel Management</a></li>
                <li><a href="/course-single">BBA</a></li>
                <li><a href="/course-single">Law</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="/quiz">Mock Series</a></li>
        <li class="dropdown"><a href="/gkdose">GK dose</a></li>
        <li class="dropdown"><a href="/blog">Blog</a></li>
        <li class="dropdown"><a href="/contact">Contact Us</a></li>
        <li class="dropdown"><a href="/news">News</a></li>
    </ul>
</nav>
<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile">
    <a class="navbar-brand" href="/home"><img src="/static/images/logo.jpg" alt="logo"></img></a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-topBar text-center">
    <div class="container">
        <div class="navbar-header pull-left">
            <a href="/home"><img src="/static/images/logo.jpg" alt="logo"></img></a>
        </div>
        {% if user.username %}
        <ul class="ct-panel--user list-inline text-uppercase pull-right">
            <li style="width:170px;">Welcome, {{ user.username }}</li>
            <li><a href="/logout/" >Logout<i class="fa fa-user"></i></a></li>
        </ul>
        {% else %}
        <ul class="ct-panel--user list-inline text-uppercase pull-right">
            <li><a href="/accounts/login/" >login<i class="fa fa-lock"></i></a></li>
            <li><a href="/register/" >sign up<i class="fa fa-user"></i></a></li>
        </ul>
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
<nav class="navbar navbar-default yamm " data-heighttopbar="60px" data-startnavbar="0">
    <div class="container">
        <div class="ct-navbar--fluid pull-right">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="dropdown yamm-fw active"><a href="#">Home</a></li>  
                <li class="dropdown yamm-fw"><a href="#abtus">About</a></li>  
                <li class="dropdown yamm-fw"><a href="#why">Why join?</a></li>
                <li class="dropdown yamm-fw"><a href="/courses-listing">Courses</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="/courses-single">IPM</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="/course-single">Hotel Management</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="/course-single">Law</a>
                                    </div>
                                    <div class="col-sm-3">    
                                        <a href="/course-single">BBA</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw"><a href="/quiz">Mock Series</a></li>
                <li class="dropdown yamm-fw"><a href="/gkdose">GK dose</a></li>
                <li class="dropdown yamm-fw"><a href="/blog">Blog</a></li>
                <li class="dropdown yamm-fw"><a href="/contact">Contact</a></li>
                <li class="dropdown yamm-fw"><a href="/news">News</a></li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="ct-slick ct-js-slick ct-slick-defaultNavigation ct-u-colorWhite" data-height="800" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="false" data-touchMove="false" data-arrows="true" data-items="1">
        <div class="item" data-bg="/static/images/demo-content/header10.jpg">
            <div class="ct-slick-inner">
                <div class="ct-slick-content">
                    <div class="ct-showcaseBox--withImagePerson">
                        <div class="container">
                            <div class="row" >
                                <div class="col-md-12">
                                    <img src="/static/images/logo.jpg" alt="logo" class="text-capitalize ct-fw-900 ct-u-marginBottom40 animated" data-fx="fadeInLeft" data-time="200"/>
                                </div>
                            </div>
                            <div class="row" style="margin-top:35rem;">
                                <div class="col-md-6">                                    
                                    <h3 class="text-capitalize ct-fw-900 ct-u-marginBottom40 animated" data-fx="fadeInLeft" data-time="400">Padhai Ka Online Adda</h3>
                                    <a class="text-uppercase btn btn-success btn-lg animated" href="/courses-listing" data-fx="fadeInLeft" data-time="1400">view courses</a>
                                </div>
                                <!-- <img class="ct-js-imageOffset animated" src="/static/images/demo-content/opened-book.png" data-fx="zoomInUp" data-time="1400" data-bottom="0" data-right="0" alt="person"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" data-bg="/static/images/demo-content/header10.jpg">
            <div class="ct-slick-inner">
                <div class="ct-slick-content">
                    <div class="ct-showcaseBox--withImagePerson">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <h3 class="text-capitalize ct-fw-900 ct-u-marginBottom40 animated" data-fx="zoomInUp" data-time="200">Quizes of Various Subjects</h3>
                                    <img src="/static/images/courses/header-1.jpg" alt="courses" class="text-capitalize ct-fw-900 ct-u-marginBottom50 animated" data-fx="zoomInUp" data-time="500" style="width:80%;">                                   
                                    <a class="text-uppercase btn btn-transparent btn-bordered--Light btn-lg animated" href="/quiz" data-fx="zoomInUp" data-time="1000" style="margin-top:50rem;">view Quizes</a>
                                </div>
                                <!-- <img class="ct-js-imageOffset animated" src="/static/images/demo-content/header10-person.png" data-fx="fadeInRight" data-time="1400" data-bottom="-263" data-right="0" alt="person"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="ct-u-paddingBoth30 ct-u-backgroundLightGreen">
    <div class="container">
        <!-- <div class="ct-slick ct-js-slick" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="false" data-touchMove="false" data-arrows="true" data-items="1"> -->
            <div class="item">
                <h2 class="ct-fw-700 ct-u-marginBottom50">Courses</h2>                
                
                <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="ct-productBox ct-u-marginBottom10">
                        <a href="/course-single">
                            <div class="ct-productImage">
                                <img src="/static/images/courses/ipm.jpg" alt="Product">
                            </div>
                            <div class="ct-productDescription">
                                <h5 class="ct-fw-600 ct-u-marginBottom10">IPM</h5>
                            </div>
                        </a>
                        <!-- <div class="ct-productMeta">
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell">
                                    <div class="starrr" data-rating='4'></div>
                                </div>
                                <div class="ct-u-displayTableCell">
                                    <span class="ct-u-colorMotive">190$</span>
                                    <span class="ct-u-textLineThrough">290$</span>
                                </div>
                                <a href="#">
                                    <div class="ct-u-displayTableCell">
                                        15 <i class="fa fa-user"></i>
                                    </div>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="ct-productBox ct-u-marginBottom30">
                        <a href="/course-single">
                            <div class="ct-productImage">
                                <img src="/static/images/courses/hotel_management.jpg" alt="Product">
                            </div>
                            <div class="ct-productDescription">
                                <h5 class="ct-fw-600 ct-u-marginBottom10">Hotel Management</h5>
                            </div>
                        </a>
                        <!-- <div class="ct-productMeta">
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell">
                                    <div class="starrr" data-rating='4'></div>
                                </div>
                                <div class="ct-u-displayTableCell">
                                    <span class="ct-u-colorMotive">190$</span>
                                    <span class="ct-u-textLineThrough">290$</span>
                                </div>
                                <a href="#">
                                    <div class="ct-u-displayTableCell">
                                        15 <i class="fa fa-user"></i>
                                    </div>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-3">
                    <div class="ct-productBox ct-u-marginBottom30">
                        <a href="/course-single">
                            <div class="ct-productImage">
                                <img src="/static/images/courses/law.jpg" alt="Product">
                            </div>
                            <div class="ct-productDescription">
                                <h5 class="ct-fw-600 ct-u-marginBottom10">Law</h5>
                            </div>
                        </a>
                        <!-- <div class="ct-productMeta">
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell">
                                    <div class="starrr" data-rating='4'></div>
                                </div>
                                <div class="ct-u-displayTableCell">
                                    <span class="ct-u-colorMotive">190$</span>
                                    <span class="ct-u-textLineThrough">290$</span>
                                </div>
                                <a href="#">
                                    <div class="ct-u-displayTableCell">
                                        15 <i class="fa fa-user"></i>
                                    </div>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="ct-productBox ct-u-marginBottom30">
                        <a href="/course-single">
                            <div class="ct-productImage">
                                <img src="/static/images/courses/bba.jpg" alt="Product">
                            </div>
                            <div class="ct-productDescription">
                                <h5 class="ct-fw-600 ct-u-marginBottom10">BBA</h5>
                            </div>
                        </a>
                        <!-- <div class="ct-productMeta">
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell">
                                    <div class="starrr" data-rating='4'></div>
                                </div>
                                <div class="ct-u-displayTableCell">
                                    <span class="ct-u-colorMotive">190$</span>
                                    <span class="ct-u-textLineThrough">290$</span>
                                </div>
                                <a href="#">
                                    <div class="ct-u-displayTableCell">
                                        15 <i class="fa fa-user"></i>
                                    </div>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</section>
<section class="ct-u-paddingBoth20 text-center ct-u-doubleBorder" id="abtus">
    <div class="container">
        <h2 class="ct-fw-700 ct-u-marginBottom30">About us</h2>
        <p class="ct-fw-600 ct-u-marginBottom50">We are group of entrepreneur in the field of education working in providing online platform for students to do preparation for various entrance and job examinations. We keep you updated with all the relevant informations required for you to pass the exam with flying colors and get a chance to study in your dream institute. 
        </p>
        <p class="ct-fw-600 ct-u-marginBottom50">Our <b>Mock</b> Series will help you get accustomed with the format of questions in the entrance examination so that you donot face any problem when you go for the actual exam. It helps you to practice and improve your chances of getting through the exam with good rankings.
        </p>
        <p class="ct-fw-600 ct-u-marginBottom50">We provide daily updates about relevant informations in the <b>GKDose, News and Blog</b> section of our website. Following this, you can stay updated with all the information news and updates about the examinations and for the preparation of the same.
        </p>
        <!--<div class="row">

            <div class="col-sm-6 col-md-3">
                <div class="ct-iconBox ct-iconBox--Big ct-iconBox--transparent">
                    <div class="ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">
                        <div class="ct-icon">
                            <i class="fa fa-magic"></i>
                        </div>
                    </div>
                    <div class="ct-icon--description">
                        <h4 class="ct-u-colorMotive ct-fw-600 ct-u-marginBottom30">Mock Series</h4>
                        <p class="ct-fw-400 ct-u-relative" data-bottom="top: 50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-150-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Our Quizes helps you get accustomed with the format of the questions for the particular entrance examination.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ct-iconBox ct-iconBox--Big ct-iconBox--transparent">
                    <div class="ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">
                        <div class="ct-icon">
                            <i class="fa fa-bolt"></i>
                        </div>
                    </div>

                    <div class="ct-icon--description">
                        <h4 class="ct-u-colorMotive ct-fw-600 ct-u-marginBottom30">Recent Update</h4>
                        <p class="ct-fw-400 ct-u-relative" data-bottom="top: 50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-150-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Features like GKDose, News, Blogs helps you to stay updated with all the information that is relevant and to be aware with everything related to your examination and its preparation.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ct-iconBox ct-iconBox--Big ct-iconBox--transparent">
                    <div class="ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">
                        <div class="ct-icon">
                            <i class="fa fa-recycle"></i>
                        </div>
                    </div>

                    <div class="ct-icon--description">
                        <h4 class="ct-u-colorMotive ct-fw-600 ct-u-marginBottom30">Relevant Information</h4>
                        <p class="ct-fw-400 ct-u-relative" data-bottom="top: 50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-150-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Lorem ipsum dolor sit amet, conse
                            quam, adipiscingconmentum tristi
                            idem nemo minima .</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ct-iconBox ct-iconBox--Big ct-iconBox--transparent">
                    <div class="ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">
                        <div class="ct-icon">
                            <i class="fa fa-tint"></i>
                        </div>
                    </div>

                    <div class="ct-icon--description">
                        <h4 class="ct-u-colorMotive ct-fw-600 ct-u-marginBottom30">Innovation</h4>
                        <p class="ct-fw-400 ct-u-relative" data-bottom="top: 50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-150-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Lorem ipsum dolor sit amet, conse
                            quam, adipiscingconmentum tristi
                            idem nemo minima .</p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>
<!--<section class="ct-u-paddingBoth100 ct-u-backgroundLightGreen" id="why">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="ct-fw-900 ct-u-marginBottom30">Why Join Us</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-list-alt"></i> Time saving
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="fa fa-angellist"></i> Comfort and ease
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fa fa-files-o"></i> Quick learning
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa fa-desktop"></i> Study material and mock tests from masters of that line
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa fa-desktop"></i> Short cut methods to score well
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa fa-desktop"></i> Money saving 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa fa-desktop"></i> Study from anywhere
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                One morning, when Gregor Samsa woke from troubled dreams, he found him
                                self transformed in his bed into a horrible vermin. He lay on his armour-like ba
                                ck, and if he lifted his head a little he could see his brown belly, slightly domed
                                and divided by arches into stiff sections. The bedding was hardly able to cover
                                it and seemed ready
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h3 class="ct-fw-900 ct-u-marginBottom30">Blog</h3>
                <div class="ct-blog--thumbnail ct-hoverImage--rectangle ct-u-marginBottom60">
                    <div class="media">
                        <div class="media-left">
                            <a href="blog-single.html">
                                <img class="media-object" src="/static/images/demo-content/blog-thumbnail.jpg" alt="thumb">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Lorem ipsum dolor sit amet</h4>
                            <div class="ct-articleBox--meta ct-u-displayTableVertical">
                                <ul class="list-inline list-unstyled">
                                    <li><i class="fa fa-clock-o"></i> Apr 29, 2015</li>
                                    <li><i class="fa fa-comments-o"></i> comments</li>
                                </ul>
                            </div>
                            <p class="ct-fw-600">
                                Ut enim ad minima veniam, quis nostrum exercitatio
                                nem ullam corporis suscipit ut aliquid commodifar
                                far away, behind far from the.
                                <a class="ct-fw-400" href="blog-single.html">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ct-blog--thumbnail ct-hoverImage--rectangle">
                    <div class="media">
                        <div class="media-left">
                            <a href="blog-single.html">
                                <img class="media-object" src="/static/images/demo-content/blog-thumbnail2.jpg" alt="thumb">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">One morning, when Gregor </h4>
                            <div class="ct-articleBox--meta ct-u-displayTableVertical">
                                <ul class="list-inline list-unstyled">
                                    <li><i class="fa fa-clock-o"></i> Apr 29, 2015</li>
                                    <li><i class="fa fa-comments-o"></i> comments</li>
                                </ul>
                            </div>
                            <p class="ct-fw-600">
                                Ut enim ad minima veniam, quis nostrum exercitatio
                                nem ullam corporis suscipit ut aliquid commodifar
                                far away, behind far from the.
                                <a class="ct-fw-400" href="blog-single.html">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="600" data-type="parallax" data-background="/static/images/bg_pattern_03.png" data-background-mobile="/static/images/bg_pattern_03.png"  id="why">
    <div class="ct-mediaSection-inner">
        <!-- <div class="container">
            <div class="ct-showcaseBox">
                <h2 class="ct-fw-700 ct-u-marginBottom60 ct-u-colorWhite ct-u-relative" data-bottom="top: -50px;
                                        -moz-opacity: 0;
                                            -khtml-opacity: 0;
                                                -webkit-opacity: 0;
                                                    opacity: 0;"  data-center-top="top: 0;
                                                -moz-opacity: 1;
                                                    -khtml-opacity: 1;
                                                        -webkit-opacity: 1;
                                                            opacity: 1;">Study Basin is where you build your future. Join Us Today.</h2>
                <a class="text-uppercase btn btn-primary btn-lg" href="/courses-listing">view courses</a>
            </div>
        </div> -->
        <div class="container">
        <div class="ct-showcaseBox"> 
            <div class="row">
                <div class="col-md-12">
                    <h3 class="ct-fw-900 ct-u-marginBottom30" style="color:white;">Why Join Us</h3>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-list-alt"></i> Time saving
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Here we provide you with only the relevant information important for you to get through the entrance examinations with great ranks.
                                </div>
                            </div>
                        </div>                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="fa fa-files-o"></i> Quick learning
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    We provide tutorials which promote quick learning. Our study materials will help you to learn all the important aspects needed quickly and in the most efficient way. 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <i class="fa fa-desktop"></i> Study Material and Mock Testsz
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                   Study materials and mock tests are conducted by the masters of that subject or course. So you can be assured to be served well.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <i class="fa fa-desktop"></i> Short cut methods
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    We provide the short cut to get into your dream institute. We assist you to get good scores in the entrance exams so that you can live your dream future.
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <h3 class="ct-fw-900 ct-u-marginBottom30">Blog</h3>
                    <div class="ct-blog--thumbnail ct-hoverImage--rectangle ct-u-marginBottom60">
                        <div class="media">
                            <div class="media-left">
                                <a href="blog-single.html">
                                    <img class="media-object" src="/static/images/demo-content/blog-thumbnail.jpg" alt="thumb">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Lorem ipsum dolor sit amet</h4>
                                <div class="ct-articleBox--meta ct-u-displayTableVertical">
                                    <ul class="list-inline list-unstyled">
                                        <li><i class="fa fa-clock-o"></i> Apr 29, 2015</li>
                                        <li><i class="fa fa-comments-o"></i> comments</li>
                                    </ul>
                                </div>
                                <p class="ct-fw-600">
                                    Ut enim ad minima veniam, quis nostrum exercitatio
                                    nem ullam corporis suscipit ut aliquid commodifar
                                    far away, behind far from the.
                                    <a class="ct-fw-400" href="blog-single.html">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ct-blog--thumbnail ct-hoverImage--rectangle">
                        <div class="media">
                            <div class="media-left">
                                <a href="blog-single.html">
                                    <img class="media-object" src="/static/images/demo-content/blog-thumbnail2.jpg" alt="thumb">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">One morning, when Gregor </h4>
                                <div class="ct-articleBox--meta ct-u-displayTableVertical">
                                    <ul class="list-inline list-unstyled">
                                        <li><i class="fa fa-clock-o"></i> Apr 29, 2015</li>
                                        <li><i class="fa fa-comments-o"></i> comments</li>
                                    </ul>
                                </div>
                                <p class="ct-fw-600">
                                    Ut enim ad minima veniam, quis nostrum exercitatio
                                    nem ullam corporis suscipit ut aliquid commodifar
                                    far away, behind far from the.
                                    <a class="ct-fw-400" href="blog-single.html">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        </div>
    </div>
</section>
<footer>
<div class="ct-prefooter">
<div class="widget widget-socialsFullWidth">
    <div class="widget-inner">
        <div class="container">
            <div class="ct-slick ct-js-slick text-center" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="false" data-autoplaySpeed="6000" data-draggable="true" data-touchMove="false" data-arrows="false" data-XSitems="1" data-SMitems="2" data-MDitems="4" data-LGitems="4" data-items="1">
                <div class="item">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="item">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="item">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
                <div class="item">
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="ct-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled list-inline ct-copyright">
                    <li>Copyright 2015</li>
                    <li>Studybasin </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled list-inline ct-footer-menu">
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#abtus">About</a></li>
                    <li><a href="#why">Why Join?</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>
</div>

<!-- JavaScripts -->

<script src="/static/js/main-compiled.js"></script>
<script>
    $(document).ready(function() {
         $('.why').click(function() {
            //console.log(1);
            window.scrollTo(0, $('#why').offset().top);
        });

        $('.about').click(function() {
            //console.log(1);
            window.scrollTo(0, $('#abtus').offset().top);
        });
    });


</script>
</body>
</html>
